@{
    ViewData["Title"] = "Home Page";
}

@model BooksListViewModel
    <br />
    <h1>Book Store Books</h1>
    <br />
    @foreach (Book b in Model.Books)
    {
        <partial name="BookSummary" model="b" />
    }

<div page-model="@Model.PaginationInfo" page-action="Index" page-class-enabled="true" page-class="btn custom-button" 
page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>